<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
</head>
<body>

<div layout:fragment="content">
    <br>
    <br>
    <br>

    <div class="container">

        <fieldset>
            <!--<legend>Do you want to create board for '<span th:text="${boardName}">Board Name</span>'?</legend>-->
            <legend>Search Developer who knows</legend>
            <br>

        </fieldset>

    </div>

    <br>
    <br>
    <br>

</div>

</body>
</html>